name: Update SSL Certificate (Direct)

on:
  workflow_dispatch:

jobs:
  update-cert:
    name: Update SSL Certificate
    runs-on: ubuntu-latest

    if: vars.DEPLOY_HOST != ''

    steps:
      - name: Update SSL certificate via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ vars.DEPLOY_HOST }}
          username: ${{ vars.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            echo "Updating SSL certificate to include miniapp.chatmoderatorbot.ru..."

            # Run certbot with all domains including miniapp
            sudo certbot certonly --webroot \
              -w /root/chatkeep/certbot/webroot \
              -d chatmoderatorbot.ru \
              -d www.chatmoderatorbot.ru \
              -d miniapp.chatmoderatorbot.ru \
              -d api.chatmoderatorbot.ru \
              -d grafana.chatmoderatorbot.ru \
              -d prometheus.chatmoderatorbot.ru \
              -d admin.chatmoderatorbot.ru \
              --non-interactive \
              --agree-tos \
              --email admin@chatmoderatorbot.ru \
              --expand

            echo "Certificate updated!"

            # Reload nginx
            echo "Reloading nginx..."
            docker exec chatkeep-nginx nginx -s reload

            echo "Done! Certificate now includes all subdomains including miniapp."
